<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO0W8iz6e-0fOUzFEs7P8y5ws4XGMM6k8</string>
	<key>GCM_SENDER_ID</key>
	<string>725544131952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LongTran.ThreadsClone</string>
	<key>PROJECT_ID</key>
	<string>threadsclone-8b90a</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsclone-8b90a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725544131952:ios:4298800a8956507872c3b5</string>
</dict>
</plist>